// Background colours
$backgroundColour: #edf2e9 !default;
$codeBackgroundColour: #88b98f !default;
$featureBackgroundColour: #88b98f !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #557658  !default;
$hoverColour: #008000 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Montserrat sans-serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.65
) !default;

$headingtype: (
  font-family: 'Montserrat sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.65
) !default;

$monospacetype: (
  font-family: "Montserrat sans-serif",
  regular: 400,
  cap-height: 0.58
) !default;

// TIP: Load custom fonts in _config.yaml
